<p id="notice"><%= notice %></p>

<header>
</header>

<body>

  <div id="firstscreen">

  </div>
  <div class="row" id="index">
    <% @oeuvres.each do |oeuvre| %>
      <div class="row" id="index-projects">
        <div class= "thumbnail" id="thumbnail">
          <div class="row center pad-top" id="thumb-author"><%= oeuvre.auteur %></div>
          <div class="row center" id="thumb-title"><%= link_to "#{oeuvre.titre}", oeuvre %></div>
          <div id="short_description" class="row center  pad-top" id="thumb-desc"><%= oeuvre.descritpion %></div>
         <div class="row center pad-top" id="thumb-forme"><%= oeuvre.forme %> - <%= oeuvre.date %></div>
        </div>
      </div>
    <% end %>
  </div>

</body>

<br>


