<p id="notice"><%= notice %></p>

<header>
</header>

<body>

  <div id="firstscreen">

  </div>
  <div class="row" id="index">
    <% @oeuvres.each do |oeuvre| %>
      <div class="col-sm-4 pad-bot" id="index-projects">
        <div class= "thumbnail">
          <div class="row center"><%= oeuvre.auteur %></div>
          <div class="row center"><%= oeuvre.titre %></div>
          <div class="row center"><%= oeuvre.forme %></div>
          <div class="row center"><%= oeuvre.date %></div>
          <div id="short_description" class="row center"><%= oeuvre.descritpion %></div>
          <div><%= link_to 'Show', oeuvre %></div>
          <div><%= link_to 'Edit', edit_oeuvre_path(oeuvre) %></div>
          <div><%= link_to 'Destroy', oeuvre, medivod: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      </div>
    <% end %>
  </div>

</body>

<br>


