<p id="notice"><%= notice %></p>

<div id="show">
  <div class="row">
  <div class="col-md-3" id="show-col-1">
    <div class="row">
        <p>
          <!--<strong>Auteur:</strong>-->
          <%= @oeuvre.auteur %>
        </p>
        <p id="thumb-title">
          <!--<strong>Titre:</strong>-->
          <%= @oeuvre.titre %>
        </p>
    </div>

    <div class="row">
      <p>
        <!--<strong>Forme:</strong>-->
        <%= @oeuvre.forme %> - <%= @oeuvre.date %>

      </p>

      <p>
        <strong>Localisation:</strong>
        <%= link_to "#{@oeuvre.localisation}", target: :_blank %>
      </p>
    </div>
  </div>
  <div class="col-md-8" id="show-desc">
  <p>
    <strong>Descritpion:</strong>
    <%= @oeuvre.descritpion %>
  </p>
  </div>
  <div class="col-md-1">
  </div>
  </div>

  <div class="row">
  <p>
    <strong>Critiques:</strong>
    <%= @oeuvre.critiques %>
  </p>
  </div>
  <div class="row">
  <p>
    <strong>Connexes:</strong>
    <%= @oeuvre.connexes %>
  </p>
  </div>
</div>


<%= link_to 'Éditer', edit_oeuvre_path(@oeuvre) %>
<%= link_to 'Supprimer', @oeuvre, method: :delete, data: { confirm: 'Êtes-vous sûr?' } %>
<%= link_to 'Retour', oeuvres_path %>
