<p id="notice"><%= notice %></p>

<div id="show">
  <div class="col-md-2" id="show-col-1">
    <div class="row">
        <p>
          <!--<strong>Auteur:</strong>-->
          <%= @oeuvre.auteur %>
        </p>
        <p>
          <!--<strong>Titre:</strong>-->
          <%= @oeuvre.titre %>
        </p>
    </div>

    <div class="row">
      <p>
        <!--<strong>Forme:</strong>-->
        <%= @oeuvre.forme %>
      </p>

      <p>
        <!--<strong>Date:</strong>-->
        <%= @oeuvre.date %>
      </p>

      <p>
        <strong>Localisation:</strong>
        <%= link_to "#{@oeuvre.localisation}", target: :_blank %>
      </p>
    </div>
  </div>

  <div class="col-md-10">
  <p>
    <strong>Descritpion:</strong>
    <%= @oeuvre.descritpion %>
  </p>
  </div>
  <div class="row">
  <p>
    <strong>Critiques:</strong>
    <%= @oeuvre.critiques %>
  </p>
  </div>
  <div class="row">
  <p>
    <strong>Connexes:</strong>
    <%= @oeuvre.connexes %>
  </p>
  </div>
</div>

<%= link_to 'Edit', edit_oeuvre_path(@oeuvre) %> |
<%= link_to 'Back', oeuvres_path %>
