<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="row navbar navbar-default navbar-fixed-top" id="header">
    <div class="col-md-4" id="websitename">
      <%= link_to "Recension", root_path%>
    </div>
    <div class="col-md-2" id="search">
      Rechercher
    </div>
      <div class="col-md-2" id="rank">
        Trier
      </div>
      <div class="col-md-2" id="create">
        <%= link_to 'Créer', new_oeuvre_path %>
      </div>

  </div>

<%= yield %>

</body>
</html>
